@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'JetBrains Mono', monospace;
    --tw-bg-opacity: 1;
    /* background-color: rgb(82 80 91 / var(--tw-bg-opacity)) */
    background-color: rgb(50 50 55 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(161 161 170 / var(--tw-text-opacity))

  }

  .wrong{ 
    color: rgb(254, 78, 78);
  }
  .correct{ 
    color: rgb(234 179 8);
  }
  .word.current { 
    color:rgb(186, 255, 148);
    text-decoration: underline green;
    animation : current-word-blink 1s ease-in-out infinite;
  }
  .letter.current{
    text-decoration: underline green 5px;
  }
  .extra{ 
    color: rgb(142, 53, 53);
  }



  @keyframes current-word-blink{
    0%{
      color:rgb(42, 234, 8);
    }
    50%{
      color:white;
    }
    100%{
      color:rgb(42, 234, 8);
    }
  }

  .remove-blur{
    filter: none;
  }
/* Width and height for vertical and horizontal scrollbars */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
