@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'JetBrains Mono', monospace;
    --tw-bg-opacity: 1;
    /* background-color: rgb(82 80 91 / var(--tw-bg-opacity)) */
    background-color: rgb(50 50 55 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(161 161 170 / var(--tw-text-opacity))

  }

  .correct{ 
    color: rgb(230, 230, 230);
  }
  .wrong{ 
    color: rgb(254, 78, 78);
  }
  .word.current { 
    color:rgb(186, 255, 148)
  }

  
  